* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}


/*.navbar{*/


/*    width: 100%;*/


/*    float: right;*/


/*}*/

.navbar {
    background: palevioletred;
}

.navbar ul li {
    display: inline-block;
}

.nav-item img {
    width: 40px;
    border-radius: 50%;
}

#sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    background: mediumpurple;
    left: -200px;
    transition: all 500ms linear;
}

#sidebar.active {
    left: 0px;
}

#sidebar ul li {
    color: rgba(230, 230, 230, 0.9);
    list-style: none;
    padding: 15px 10px;
    color: white;
    border-bottom: 1px solid rgba(100, 100, 100, 0.3);
}

#sidebar ul li:hover {
    background-color: yellow;
    color: green;
}

#sidebar a {
    color: whitesmoke;
}

#sidebar ul li a:hover {
    background-color: yellow;
    color: black;
}

#sidebar .toggle-btn {
    position: absolute;
    left: 230px;
    top: 20px;
}

#sidebar .toggle-btn span {
    display: block;
    width: 30px;
    height: 3px;
    background: #151719;
    margin: 5px 0px;
}


/* for data table */

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 125px !important;
    /*margin-right: auto;*/
    /*margin-left: auto;*/
}


/* card style */

.scroll {
    max-height: 200px;
    overflow-y: auto;
    margin-bottom: 50px;
}